@font-face {
  font-family: "DOSPilgiMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.header-container {
  .title {
    font-family: "DOSPilgiMedium";
  }
  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }

    .bamboo-image {
      width: 1rem;
      margin-top: -0.1rem;
    }
  }

  @media (max-width: 480px) {
    .title {
      font-size: 1rem;
    }

    .bamboo-image {
      width: 0.7rem;
      margin-top: 0;
    }
  }
}
